/* GENERAL STYLES */

* {
  box-sizing: border-box;
}

body {
  max-width: 1024px;
  margin: 0px auto;
  background-image: url(../images/background-header.jpg),
    url(..//images/background-footer.jpg); /*url("../images/background-body.jpg");*/
  background-position: right top, left bottom -130px;
  background-repeat: no-repeat, no-repeat;
}

@media screen and (max-width: 576px) {
  .body {
    background-size: contain;
  }
}

a {
  text-decoration: none;
  color: brown;
}
a :hover {
  color: brown;
  text-decoration: chartreuse;
}

/* MAIN */
main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
}

/* Header */
header {
  max-width: 70%;
  position: relative;
  text-align: center;
  z-index: 1;
  margin: 25% auto 0;
  padding: 0;
}

/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0px 17%;
} */

.menu {
  width: 140px;
  margin: auto;
  padding: 0;
}

.menu li,
aside,
footer {
  list-style-type: none;
  padding: 8px;
  margin-bottom: 8px;
  background-color: beige;
  font-family: cursive;
  font-weight: bold;
  text-align: center;
  color: brown;
  border: 1px solid;
}

.menu li:hover {
  background-color: burlywood;
}
/* Article */
/* article {
  max-width: 75%;
} */
.btn img {
  max-width: 40%;
}

/* .opacity {
  height: 100%;
  width: 75%;
  background-color: white;
  opacity: 0.8;
  z-index: -1;
  position: absolute;
} */

/* .container {
  width: 40%;
  float: left;
  display: grid;
  margin: 5%;
  text-align: center;
}
.container img {
  max-width: 50%;
  margin: auto;
}
.container h4 {
  margin: 0;
  color: chocolate;
} */

/* Aside */
aside {
  height: 100px;
  width: 100px;
  position: fixed;
  right: 10%;
  bottom: 15%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  /* box-shadow: 0 0 100px orange, 0 0 10px brown; */
  border-radius: 15px;
}
aside:hover {
  background-color: burlywood;
}

/* FOOTER */
footer {
  margin: 10% auto;
  width: 25%;
}

/* MODAL WINDOW */
